<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @profissoes_busca.nome %>
</p>

<%= link_to 'Edit', edit_profissoes_busca_path(@profissoes_busca) %> |
<%= link_to 'Back', profissoes_buscas_path %>
