<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h1>Nova Área</h1>
				</div>
				<div class="ibox-content">
					<%= render 'form' %>
					<%= link_to '', areas_profissionais_path, :class => 'btn btn-sm btn-danger fa fa-reply', :title => 'Voltar/Cancelar' %>
				</div>
			</div>
		</div>
	</div>
</div>
