<%= render 'form' %>
</br>
<div class="row">
	<div class="col-md-6 col-md-push-1">
		<br>
		<h3>
			<p>Sua pesquisa -&nbsp;
			<b>
				<strong><%= "#{@buscar_profissionais}" %></strong>
			</b>
			 - não encontrou nenhum resultado correspondente.
			</p>
			<br>
			</br>
			<b>Sugestões:</b>
			<br>	
			</br>
			<b>*</b> Certifique-se de que todas as palavras estejam escritas corretamente.
			</br>
			<b>*</b> Tente nome de profissionais diferentes.
			</br>
			<b>*</b> Tente profissões mais genéricas.
		</h3>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>

