<%= render 'form' %>
</br>
<div class="row">
	<div class="col-md-6 col-md-push-1">
		<br>
		<h3>
			<p>Sua pesquisa -&nbsp;
			<b>
				<strong>"<%= "#{@buscar_profissionais} - #{@buscar_profissoes}" %>"</strong>
			</b>
			 - não encontrou nenhum profissional correspondente.
			</p>
			<br>
			</br>
			<b>Sugestões:</b>
			<br>	
			</br>
			<b>*</b> Certifique-se de que todas as palavras estejam escritas corretamente.
			</br>
			<b>*</b> Tente nomes de profissionais diferentes.
			</br>
			<b>*</b> Tente profissões mais genéricas.
			&nbsp;&nbsp;&nbsp;<p><b>Ex:</b>Programador, Designer, Pedreiro etc.</p>
		</h3>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>

