<nav class="navbar-default navbar-static-side" role="navigation" >
    <div class="sidebar">
        <ul class="nav">
            <li>
                <a href=""><i class="fa fa-list-ul"></i> <span class="nav-label" data-i18n="nav.dashboard">Profissionais Já! </span> <span class="fa arrow"></span></a>
            </li>
        </ul>
                
    </div>
</nav>