<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-list-ul"></i>
                </a>
            </li>
    </ul>
</nav>
</div>